<div class="bg-light py-5" style="min-height: 500px">
  <div class="container">
    <nav aria-label="breadcrumb"> 
      <ol class="breadcrumb bg-transparent mb-0">
        <li class="breadcrumb-item">
          <a class="text-success" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a></li>
        <li class="breadcrumb-item">
          <a class="text-success" [routerLink]="['/culturas']" routerLinkActive="router-link-active" >Culturas</a></li>
        <li class="breadcrumb-item">
          <a class="text-success" [routerLink]="['/fitopatologias', cultura.id_cultura]" routerLinkActive="router-link-active" >{{cultura.nome}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{doenca.nome_comum}}</li>
      </ol>
    </nav>
    <div *ngIf="fitoDesabilitada">
      <div class="alert alert-dark" role="alert">
        <h4 class="alert-heading font-weight-bold">Fitopatologia desativada.</h4>
        <p>O conteúdo encontra-se desativado no momento. Provavelmente o administrador de conteúdo esta atualizando os dados para melhor informa-lo.</p>
        <hr>
        <p class="mb-0">Volte na aba anterior para ver mais 
          <a [routerLink]="['/fitopatologias', cultura.id_cultura]" class="text-success" routerLinkActive="router-link-active" > Fitopatologias </a> ou na aba 
          <a [routerLink]="['/culturas']" class="text-success" routerLinkActive="router-link-active" >Culturas </a>para conhecer outras culturas.</p>
      </div>
    </div>
    <div *ngIf="falhaNaApi">
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading font-weight-bold">Conteúdo não encontrado.</h4>
        <p>Aparentemente não consiguimos carregar o conteúdo por não existir ou por alguma falha do servidor. Tente reiniciar a pagina, e caso o problema persistir, entre em contato com nossa equipe.</p>
        <hr>
        <p class="mb-0">Equipe Fitopédia.</p>
      </div>
    </div>
    <div *ngIf="!falhaNaApi && !fitoDesabilitada" class="card text-center shadow-sm">
      <div class="card-header bg-dark">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a 
              class="nav-link text-success active" 
              data-toggle="tab" 
              href="#info" 
              role="tab" 
              aria-controls="info" 
              aria-selected="true"
              ><strong>Informações</strong></a>
          </li>
          <li class="nav-item">
            <a 
              class="nav-link text-success" 
              data-toggle="tab" 
              href="#img" 
              role="tab" 
              aria-controls="img" 
              aria-selected="false"
              ><strong>Imagens</strong></a>
          </li>
          <li class="nav-item">
            <a 
              class="nav-link disabled" 
              data-toggle="tab" 
              href="#atgs" 
              role="tab" 
              aria-controls="img" 
              aria-selected="false"
              ><strong>Artigos</strong></a>
          </li>
          <li class="nav-item">
            <a 
              class="nav-link disabled" 
              data-toggle="tab" 
              href="#maps" 
              role="tab" 
              aria-controls="img" 
              aria-selected="false"
              ><strong>Mapas de incidência</strong></a>
          </li>
          <li class="nav-item">
            <a 
              class="nav-link disabled" 
              data-toggle="tab" 
              href="#ctl" 
              role="tab" 
              aria-controls="img" 
              aria-selected="false"
              ><strong>Controle</strong></a>
          </li>
        </ul>
      </div>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
          <div class="card-body">
            <h5 class="card-title">Conheça a fitopatologia</h5>
            <p class="card-text text-muted">Buscamos algumas informações científicas a respeito dessa doença.</p>
            <div class="text-left">
              <p *ngIf="doenca.nome_comum"><strong>Nome comum: </strong>{{doenca.nome_comum}}</p>
              <div *ngIf="doenca.nome_cientifico" class="d-block mb-3">
                  <strong class="d-inline">Nome científico: </strong>
                  <p class="font-italic d-inline">{{doenca.nome_cientifico}}</p>
              </div>
              <p *ngIf="doenca.nome_sexuado"><strong>Nome Sexuado: </strong>{{doenca.nome_sexuado}}</p>
              <p *ngIf="doenca.nome_assexuado"><strong>Nome assexuado: </strong>{{doenca.nome_assexuado}}</p>
              <p *ngIf="doenca.tipo"><strong>Classificação: </strong>{{doenca.tipo}}</p>
              <p *ngIf="doenca.sintomas"><strong>Sintomas: </strong>{{doenca.sintomas}}</p>
              <p *ngIf="doenca.umidade"><strong>Umidade do ar: </strong>{{doenca.umidade}}</p>
              <p *ngIf="doenca.periodo_molhamento"><strong>Periodo de molhamento: </strong>{{doenca.periodo_molhamento}}</p>
              <p *ngIf="doenca.temperatura"><strong>Temperatura: </strong>{{doenca.temperatura}}</p>
              <p *ngIf="doenca.agente_etiologico"><strong>Agente etiológico: </strong>{{doenca.agente_etiologico}}</p>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="img" role="tabpanel" aria-labelledby="img-tab">
          <div class="card-body">
            <h5 class="card-title">Imagens</h5>
            <p class="card-text text-muted">Conheça por imagem a fitopatologia e seu agente etiológico.</p>
            <div class="row">
              <img src="{{doenca.icone}}" class="border m-1" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>