<title>Culturas</title>

<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
        <h1><a href="#">Patogenos</a></h1>
        <p>Fitopédia</p>
				
			</div>
		</div>
  </div>
  
  

    <div class="bk"><a routerLink="/patogenossoja"><h1> Soja</h1></a><p> 
        Conteúdo

       <select name="tipo">
         <option value="vitoticas">Crestramento Bacteriano</option>
         <option value="bacterianas">Pústula Bacteriana</option>
         <option value="fungicas">Cancro da Haste</option>
         <option value="infecciosas">Ferrugem Americana</option>
         <option value="infecciosas">Mosaico Comum da Soja</option>
         </select></p><br>

    <img  src="https://images1.minhavida.com.br/imagensconteudo/16957/soja%20%20-%20tudo%20sobre.jpg"  width="450"></div>

    <div class="Milho"><a routerLink="/patogenosmilho"><h1> Milho</h1></a><p> 
        Patógenos

       <select name="tipo">
         <option value="vitoticas">Podridão Bacteriana Do Colmo</option>
         <option value="bacterianas">Antracnose Foliar</option>
         <option value="fungicas">Ferrugem Comum</option>
         <option value="infecciosas">Ferrugem Polysora</option>
         <option value="infecciosas">Ferrugem Tropical</option>
         </select></p><br>

    <img  src="https://http2.mlstatic.com/sementes-de-milho-verde-hibrido-biomatrix-3066-5-kilos-D_NQ_NP_633801-MLB20406521513_092015-F.jpg"  width="350"></div>

    <div class="Trigo"><a routerLink="/patogenoscana"><h1> Cana</h1></a><p> 
        Patógenos

       <select name="tipo">
         <option value="vitoticas">Escaldadura das Folhas</option>
         <option value="bacterianas">Estria vermelha</option>
         <option value="fungicas">Ferrugem</option>
         <option value="infecciosas">Podridão Abacaxi</option>
         <option value="infecciosas">Podridão Vermelha</option>
         </select></p><br>

    <img  src="https://st.depositphotos.com/3677273/5175/i/950/depositphotos_51755865-stock-photo-sugar-cane-isolated-on-white.jpg"  width="400"></div>

    <div class="Cafe"><a routerLink="/patogenoscafe"><h1> Café </h1></a><p> 
         Patógenos

        <select name="tipo">
          <option value="vitoticas">Atrofia dos Ramos</option>
          <option value="bacterianas">Mancha Anular</option>
          <option value="fungicas">Mancha Aureolada</option>
          <option value="infecciosas">Ferrugem</option>
          <option value="infecciosas">Mancha Olho Pardo</option>
          </select></p><br><br><br>

    <img  src="https://st2.depositphotos.com/4798895/7588/i/950/depositphotos_75882503-stock-photo-coffee-beans-on-a-white.jpg"  width="380"></div>
   
    <br><br><br><br><br>
  <div id="footer">
    <p> © Copyright 2018 - Fitopédia </p>
  </div>
  
