<div id="carouselSite" class="carousel slide" data-rider="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselSite" data-slide-to="0" class="active"></li>
    <li data-target="#carouselSite" data-slide-to="1"></li>
    <li data-target="#carouselSite" data-slide-to="2"></li>

  </ol>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.risemedia.news/wp-content/uploads/2018/09/field-1500x500.jpg" class="img-fluid d-block ">
      <div class="carousel-caption d-none d-md-block">

          <div class="text-center">
              <img src="https://trello-attachments.s3.amazonaws.com/5b7da8491d0f9707413819ad/5b7ec1fed1522f4223f12295/804ab146043c0e81dee5c23dd44a49bf/logo-fitopedia.png" width="300" height="200" class="rounded" alt="...">
            </div>
        


        
        <h3>Site de Patólogia.</h3>

      </div>
    </div>
    <div class="carousel-item">
      <img src="http://rehagro.com.br/blog/wp-content/uploads/2018/07/ferrugem-cafeeira-1500x500.jpg" class="img-fluid d-block">

      <div class="carousel-caption d-none d-md-block">
        <h2>Ferrugem Cafeeira</h2>
        <p>A doença causada por Hemileia vastatrix provoca queda precoce das folhas e seca dos ramos, afetando a produção de frutos do ano seguinte. É um patógeno que provoca prejuízos durante os anos de alta produção da cultura.</p>

      </div>

    </div>
    <div class="carousel-item">
      <img src="http://rimayagropecuario.com/wp-content/uploads/2018/08/corn-1794085_1920-1500x500.jpg" class="img-fluid d-block ">

      <div class="carousel-caption d-none d-md-block">
        <h2>Podridão Vermelha</h2>
        <p>A Podridão vermelha da espiga é causada pelo fungo Gibberella zeae, e é também conhecida pelo nome de Podridão de Gibberella. Os sintomas típicos da podridão vermelha iniciam na ponta da espiga e progridem até sua base através de uma massa cotonosa de coloração avermelhada. O fungo também pode colonizar a palha da espiga e permanecer aderido à ela.</p>

      </div>



    </div>
    <a class="carousel-control-prev" href="#carouselSite" role="button" data-slide="prev">

      <span class="carousel-control-prev-icon"></span>
      <span class="sr-only">Anterior</span>

    </a> 
    <a class="carousel-control-next" href="#carouselSite" role="button"
    data-slide="next">

    <span class="carousel-control-next-icon"></span>
    <span class="sr-only">Avançar</span>

    </a>

  </div>
</div>

<br><br><br><hr><br><br>
    <br><br>
    <div class="card-deck">
  <div class="card">
    
    <img src="http://blog.leansolutions.com.br/wp-content/uploads/2018/09/Hamiltons-Residential-Housing-Market-190418-300x200.jpg" class="img-rounded" alt="Cinque Terre">
    <div class="card-body shadow-lg">
      <h5 class="card-title">Bem Vindo a Fitopédia</h5>
      <hr>
      <p class="card-text">Fitopédia é um Site para voce agricultor, estudante, pesquisador ou que queira aprender mais e mais sobre as principais fitopatologias de culturas brasileiras ou seja nosso site te proporciona um aprendizado completo sobre as patologias com nome cientifico , o tipo da doença se elas são fungicas, viroticas, bacterianas ou infecciosas , com fotos para uma maior identificação da patologia e muito mais .......</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    
    <img src="https://www.allconnection.com.br/wp-content/uploads/2018/07/business-technology-today-accent-software-300x200.jpg" class="img-rounded" alt="Cinque Terre">
    <div class="card-body shadow-lg">
      <h5 class="card-title">Quem Somos</h5><hr>
      <p class="card-text">Somos Alunos do curso de Big Data no agronegocio da cidade de Pompéia da faculdade Fatec Shunji Nishimura e um do nossos projetos na Fatec e montarmos uma pequena startup com pessoas variadas de diversos termos. Professores disponibilizaram varios projetos e cada um se identificou com algum e esta trabalhando nele Nossos projetos são Open Source ou seja estão todos disponiveis no gitlab . .</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  
  <div class="card">
    
    <img src="https://www.insblogs.com/wp-content/uploads/2018/03/Big-data-analytics-solutions-300x200.jpg" class="img-rounded" alt="Cinque Terre">
    <div class="card-body shadow-lg">
      <h5 class="card-title">O que é Big Data?</h5><hr>
      <p class="card-text">Big data é um termo que descreve o grande volume de dados — tanto estruturados quanto não-estruturados — que sobrecarrega as empresas diariamente. Mas não é a quantidade de dados disponíveis que importa; é o que as organizações fazem com eles. O big data pode ser analisado para obter insights que levam a decisões melhores e ações estratégicas de negócio.</p>
      <p><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>

<br><br><br>
<hr>
<br><br><br>

<div class="container ">
  <div class="jumbotron shadow-lg">
    <h1>Fatec Shunji Nishimura</h1>      
    <p>Conheça nossa faculdade, Campus em Pompéia-SP com cursos de Mecanização e Agricultura de precisão  e Big Data no Agronegocio .
      <a href="https://sites.google.com/fatecpompeia.edu.br/new/home" ><br>Fatec Pompéia.</a>
    </p>
  </div>
      </div>
