<title>Culturas</title>

<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><a href="#">Café</a></h1>
				<p> Patogenos</p>
			</div>
		</div>
  </div>
  <body>
    <table></table>
    <div class="content">
               
                  <a href="#paracadastro"></a>
                    
                  
               
          
                <div id="cadastro">
                   
                    <h2>Atrofia dos Ramos</h2> 
                    
                    <thead>
                  <tr>
                      <img  src="http://www.terrastock.com.br/images/full/C8371.jpg"  width="700" height="400">
                      <br><br><br><br>
                  </tr>
                  <tr>
                      <td><strong>Cultura:</strong>Café</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Nome Patologia:</strong> Atrofia dos Ramos</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Nome científico:</strong> Xylella fastidiosa</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Tipo:</strong> bacteriana</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                    <td><strong>Temperatura:</strong> 26 a 28ºC.</td>
                    </tr>
                    <br>
                    <br>
                  <tr>
                      <td><strong>Etiologia: </strong>A bactéria apresenta na forma de bastonete, ela pode bloquear o movimento da água e translocar a seiva no interior da xilema. Ela frio é transmitida por insetos sugadores da seiva do xilema.</td>
                      
                  </tr>
                  <br>
                  <br>
                  
                  <tr>
                      <td><strong>Sintomas:</strong> A principal caracerística da doença é a ocorrência de internódios curtos por falta de zinco, e ramos que apresentam um "tufo" de folhas pequenas. Quando a doença se desenvolve, as folhas caem e os ramos ficam com aspecto de varetas. Além disse, apresenta goma no xilema, acúmulo de cristais de oxalato de cálcio, reduz ou ausente os cloroplastos nas folhas. Bloqueia uma parte dos vasos do xilema por causa da presença das célular bacterianas e podendo produzir fitotoxinas, que podem estar relacionadas aos sintomas da queima foliar</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr> 
                    <td><strong>Controle:</strong> A medida de controle é a produção de mudas em viveiros protegidos e o manejo adequado desde a sua implantação</td>
                  </tr>
                  <br>
                  
                    
                  
              </thead>
                    
                    
                    
                    
                    
                 
                </div>
              </div>
              
          
   
  
  </body>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    
    
  <body>
    <div class="content">
               
                  <a href="#paracadastro"></a>
                    
                  
               <div id="cadastro">
                   
                    <h2>Mancha Anular</h2> 
                    
                    <thead>
                  <tr>
                      <img  src="https://trello-attachments.s3.amazonaws.com/5b7da8491d0f9707413819ad/5bb3f1976a499b3a610e370f/2e666d82bffa45cc5705eebbe88d5963/Mancha_Anular1.jpg"  width="700" height="400">
                      <br><br><br><br>
                  </tr>
                  <tr>
                      <td><strong>Cultura:</strong>Café</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Nome Patologia:</strong> Mancha Anular</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Nome científico:</strong>Coffee ringspot virus -CoRSV</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Tipo:</strong>virótica</td>
                      
                  </tr>
                  
                    <br>
                    <br>
                  <tr>
                      <td><strong>Etiologia: </strong>Esse vírus possui partículas baciliformes. É transmitido pelo ácaro Brevipalpus phoenecis. Umas das principais motivos desse vírus atacar o cafeeiro, é o desequilíbrio da população causado pelos fungicidas e inseticidas e condições climáticas adversas.

                      </td>
                      
                  </tr>
                  <br>
                  <br>
                  
                  <tr>
                      <td><strong>Sintomas:</strong> Essa doença pode ocorrer nas folhas mais internas onde são mais sombreadas e em frutos do cafeeiro. Aparecem manchas alongadas no sentido das nervuras das folhas. Essas manchas são formadas por linhas claras e escuras alternadamente. Já nos frutos, podem aparecer lesões com anéis cloróticos salientes, e são mais evidentes em frutos amadurecidos.</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr> 
                    <td><strong>Controle:</strong> É através do controle químico do ácaro transmissor. Não se deve aplicar produtos químicos que possam desiquilibrar a população de ácaros.



                    </td>
                  </tr>
                  <br>
                  
                    
                  
              </thead>
                    
                    
                    
                    
                    
                 
                </div>
              </div>
              
          
   
  
  </body>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <body>
    <div class="content">
               
                  <a href="#paracadastro"></a>
                    
                  <div id="cadastro">
                   
                    <h2>Mancha Aureolada</h2> 
                    
                    <thead>
                  <tr>
                      <img  src="https://trello-attachments.s3.amazonaws.com/5b7da8491d0f9707413819ad/5bb3f1976a499b3a610e370f/0c194debc05a48ab0496744a55f7e08d/Mancha_Aureolada1.jpg"  width="700" height="400">
                      <br><br><br><br>
                  </tr>
                  <tr>
                      <td><strong>Cultura:</strong>Café</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Nome Patologia:</strong> Mancha Aureolada</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Nome científico:</strong> Pseudomonas syringae pv. garcae</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Tipo:</strong> bacteriana</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                    <td><strong>Temperatura:</strong> Ventos frios.

                      Umidade relativa do ar: Alta umidade</td>
                    </tr>
                    <br>
                    <br>
                  <tr>
                      <td><strong>Etiologia: </strong>A bactéria ataca nos tecidos foliares, e no campo, ela ataca na fase de granação dos frutos. Nessas condições a evolução da doença é muito rápida. A chuva de granizo provoca lesões nos tecidos das folhas e favorecem a entrada da bactéria. A ploriferação da doença ocorre de planta para outra planta através de respingos de chuvas.</td>
                      
                  </tr>
                  <br>
                  <br>
                  
                  <tr>
                      <td><strong>Sintomas:</strong> A doença ataca nas folhas, frutos novos e ramos novos. Nas folhas velhas, aparecem manchas de forma irregular e de coloração parda-escura e anel amarelo. A área infectada rompe-se e fica um furo ou uma área vazia no centro da mancha. Em viveiros, a bactéria provoca necrose nos tecidos jovens e queima nas folhas. Já na lavouras com altitude acima de 800m e com ventos frios, a bactéria provoca desfolha e seca de ramos laterais, assim reduzindo a produção.</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr> 
                    <td><strong>Controle:</strong> Com prevenção, reduzindo as condições favoráveis ao ataque da doença. A medida de controle é, efetuando um plantio de quebra-vento ao redor da cultura, para impedir os ventor forte e frios, deixar maior espaçamento entre as plantas para evitar a umidade por longo período, e proteger as plantas mais suscetíveis com fungicidas cúpricos nos períodos de chuva.</td>
                  </tr>
                  <br>
                  
                    
                  
              </thead>
                    
                    
                    
                    
                    
                 
                </div>
              </div>
              
          
   
  
  </body>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <body>
    <div class="content">
               
                  <a href="#paracadastro"></a>
                   
                  <div id="cadastro">
                   
                    <h2>Ferrugem</h2> 
                    
                    <thead>
                  <tr>
                      <img  src="https://trello-attachments.s3.amazonaws.com/5b7da8491d0f9707413819ad/5bb3f1976a499b3a610e370f/dd78b01d2363e224645cd468611a7d2e/Ferrugem1.png"  width="700" height="400">
                      <br><br><br><br>
                  </tr>
                  <tr>
                      <td><strong>Cultura:</strong>Café</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Nome Patologia:</strong> Ferrugem</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Nome científico:</strong> Hemileia vastatrix</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Tipo:</strong> fúngica</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                    <td><strong>Temperatura:</strong> A temperatura ótima de 22ºC para a germinação e o alongamento do tubo germinativo é crescente com 30ºC.</td>
                    </tr>
                    <br>
                    <br>
                  <tr>
                      <td><strong>Etiologia: </strong>A doença infiltra e esporula através dos estômatos e uredósporos. O ciclo de vida dele é incompleto, ele produz uredósporos e depois aparem os teliósporos. Os teliósporos produzem basidiósporos quando as condições ambientais são favoráveis.</td>
                      
                  </tr>
                  <br>
                  <br>
                  
                  <tr>
                      <td><strong>Sintomas:</strong> Aparece manchas de coloração amarelo-pálida na face inferior das folhas e depois evoluem e ficam com coloração amarelo-alaranjado. Já na face superior aparecem manchas cloróticos amareladas. A característica distintiva da ferrugem é a formação de pústulas. A doença aparece em frutos verdes e nos ramos das brotações novas. Ataques severos podem causar a desfolha, assim comprometendo a produção.</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr> 
                    <td><strong>Controle:</strong> O controle é principalmente feito com o uso de fungicidas e o uso de variedades resistentes.</td>
                  </tr>
                  <br>
                  
                    
                  
              </thead>
                    
                    
                    
                    
                    
                 
                </div>
              </div>
              
          
   
  
  </body>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <body>
    <div class="content">
               
                  <a href="#paracadastro"></a>
                    
                <div id="cadastro">
                   
                    <h2>Mancha de Olho Pardo</h2> 
                    
                    <thead>
                  <tr>
                      <img  src="https://trello-attachments.s3.amazonaws.com/5b7da8491d0f9707413819ad/5bb3f1976a499b3a610e370f/e03f83ab0e2ce2848152b933ebc97ea7/Mancha_de_Olho_Pardo1.jpg"  width="700" height="400">
                      <br><br><br><br>
                  </tr>
                  <tr>
                      <td><strong>Cultura:</strong>Café</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Nome Patologia:</strong> Mancha de Olho Pardo</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Nome científico:</strong> Cercospora coffeicola</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Tipo:</strong> fúngica</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                    <td><strong>Temperatura:</strong> 10ºC e 25ºC.

                      Umidade relativa do ar: Alta umidade.
                      
                      
                      </td>
                    </tr>
                    <br>
                    <br>
                  <tr>
                      <td><strong>Etiologia: </strong>Ele produz um estroma fino, orbicular, com coloração marrom-escuro. As plantas de viveiros ou de lavouras com solo mais secos, arenosos e sem nutrientes são mais suscetíveis à infecção. Apresentam conídios em algumas espécies, eles são formados à noite em dias frios e nublados, e são disseminados pelo vento e a água. Os conídios germinam e penetram pelas cutículas das folhas. Quando infectados nos frutos, pode atingir as sementes.</td>
                      
                  </tr>
                  <br>
                  <br>
                  
                  <tr>
                      <td><strong>Sintomas:</strong> Pode ser infectado em todas as fases da planta. Nas folhas aparece manchas circulares com coloração pardo-clara ou marrom-escura, no centro cor branco-acizentado e com anel amarelado. Aparece lesões nos frutos quando estão próximos da maturação, essas lesões tem coloração marrom ou roxeadas. Esses frutos atacados maduram mais rápidos e caem antes da colheita e assim aumentando os grãos chochos.</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr> 
                    <td><strong>Controle:</strong> Controlar a irrigação e a insolação da mudas dos viveiros, evitaro acúmulo de umidade nas folhas. Uso de fungicidas. Não se deve plantar em solos arenosos.</td>
                  </tr>
                  <br>
                  
                    
                  
              </thead>
                    
                    
                    
                    
                    
                 
                </div>
              </div>
              
          
   
  
  </body>
  
  
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br>
    
    
  <div id="footer">
    <p> © Copyright 2018 - Fitopédia </p>
  </div>
  
