<title>Culturas</title>

<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><a href="#">Soja</a></h1>
				<p> Patogenos</p>
			</div>
		</div>
  </div>
  <body>
    <table></table>
    <div class="content">
               
                  <a href="#paracadastro"></a>
                    
                  
               
          
                <div id="cadastro">
                   
                    <h2 >Crestramento Bacteriano</h2> 
                    
                    <thead>
                  <tr>
                      <img  src="https://gitlab.com/nailuz/dev-fitopedia/raw/master/search/soja/bacterias/crestamentobacteriano.jpg"  width="700" height="400">
                      <br><br><br><br>
                  </tr>
                  <tr>
                      <td><strong>Cultura:</strong>Soja</td >
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Nome Patologia:</strong> Crestramento Bacteriano</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Nome científico:</strong> Pseudomonas savastanoi pv. glycinea</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Tipo:</strong> bacteriana</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                    <td><strong>Temperatura:</strong> 20 a 26º</td>
                    </tr>
                    <br>
                    <br>
                  <tr>
                      <td><strong>Etiologia: </strong>a bacteria penetra por ferimentos ou pelo estômato e pode se originar de sementes infectadas e restos de culturas anteriores e necessita de umidade na superfície da folha para se desenvolver</td>
                      
                  </tr>
                  <br>
                  <br>
                  
                  <tr>
                      <td><strong>Sintomas:</strong> a doença pode ser encontrada nas hastes, pecíolos e vagens, mas principalmente nas folhas, nas quais se formam pequenas manchas translúcidas que com o tempo se juntam e decompõem os tecidos</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr> 
                    <td><strong>Controle:</strong> uso de sementes sadias, aração profunda para que não seja infectada com vestígios dessa doença da plantação anterior após sua colheita, rotação de culturas e uso de variedades resistentes;</td>
                  </tr>
                  <br>
                  
                  
                    
                  
              </thead>
                    
                    
                    
                    
                    
                 
                </div>
              </div>
              
          
   
  
  </body>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    
    
  <body>
    <div class="content">
               
                  <a href="#paracadastro"></a>
                    
                  
               <div id="cadastro">
                   
                    <h2>Pústula Bacteriana</h2> 
                    
                    <thead>
                  <tr>
                      <img  src="https://gitlab.com/nailuz/dev-fitopedia/raw/master/search/soja/bacterias/pustulabacteriana.JPG"  width="700" height="400">
                      <br><br><br><br>
                  </tr>
                  <tr>
                      <td><strong>Cultura:</strong>Soja</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Nome Patologia:</strong>Pústula Bacteriana</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Nome científico:</strong>Xanthomonas axonopodis pv. glycines</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Tipo:</strong>bacteriana</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Temperatura:</strong>acima de 28</td>
                      
                  </tr>
                  
                    <br>
                    <br>
                  <tr>
                      <td><strong>Etiologia: </strong>trasmitido pelas sementes e restos de culturas infectadas, a bacteria por abertura da planta ou por ferimento mas também por transporte pelo vento e pela chuva.

                      </td>
                      
                  </tr>
                  <br>
                  <br>
                  
                  <tr>
                      <td><strong>Sintomas:</strong> se inicia com pequenas manchas pardas arredondadas que aumentam de tamanho de acordo com a evolução da doença, na parte inferior da folha pode ocorrer uma elevação esbranquiçada na mancha e não apresentam brilho dando aparência de áspera</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr> 
                    <td><strong>Controle:</strong> utilização de cultivares resistentes e bom preparo do solo para evitar infecção de culturas anteriores.



                    </td>
                  </tr>
                  <br>
                  
                    
                  
              </thead>
                    
                    
                    
                    
                    
                 
                </div>
              </div>
              
          
   
  
  </body>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <body>
    <div class="content">
               
                  <a href="#paracadastro"></a>
                    
                  <div id="cadastro">
                   
                    <h2>Cancro da Haste</h2> 
                    
                    <thead>
                  <tr>
                      <img  src="https://gitlab.com/nailuz/dev-fitopedia/raw/master/search/soja/fungos/Cancro_da_haste1.jpg"  width="700" height="400">
                      <br><br><br><br>
                  </tr>
                  <tr>
                      <td><strong>Cultura:</strong>Soja</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Nome Patologia:</strong> Cancro da Haste</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Nome científico:</strong> Diaporthe phaseolorum f. sp. meridionalis</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Tipo:</strong> fúngica</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                    <td><strong>Umidade relativa do ar:</strong> Alta umidade.</td>
                    </tr>
                    <br>
                    <br>
                  <tr>
                      <td><strong>Etiologia: </strong>Ocorre nos tecidos infectados antes da morte da planta. É infectada por conídios como por ascósporos na safra normal e na soja semeada é infectada pelos ascósporos.</td>
                      
                  </tr>
                  <br>
                  <br>
                  
                  <tr>
                      <td><strong>Sintomas:</strong> São pequenos pontos negros que mudam para manchas castanho-avermelhada, de formas alongadas e geralmente de um lado da haste. Essas lesões podem ser profundas e quando severas quebram da haste e do acamamento. A lavoura altamente infectada são totalmente dizimadas. Já a infecção das sementes são baixas. A primeira indicação de que a planta foi infectada, são a presença de folhas amarelas e com necrose nas nervuras.</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr> 
                    <td><strong>Controle:</strong> Para o controle da doença, é pelo o uso de cultivares resistentes. Também podem ser usadas tratamento de sementes, rotação de culturas, semeaduras com maior espaçamento, adubação e calagem equilibradas.</td>
                  </tr>
                  <br>
                  
                    
                  
              </thead>
                    
                    
                    
                    
                    
                 
                </div>
              </div>
              
          
   
  
  </body>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <body>
    <div class="content">
               
                  <a href="#paracadastro"></a>
                   
                  <div id="cadastro">
                   
                    <h2>Ferrugem Americana</h2> 
                    
                    <thead>
                  <tr>
                      <img  src="https://gitlab.com/nailuz/dev-fitopedia/raw/master/search/soja/fungos/ferrugemamericana.jpg"  width="700" height="400">
                      <br><br><br><br>
                  </tr>
                  <tr>
                      <td><strong>Cultura:</strong>Soja</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Nome Patologia:</strong> Ferrugem Americana</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Nome científico:</strong> Phakopsora meibomiae (Malupa vignae)</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Tipo:</strong> fúngica</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                    <td><strong>Temperatura:</strong> 16-28C</td>
                    </tr>
                    <br>
                    <br>
                  <tr>
                      <td><strong>Etiologia: </strong>É conhecida como uma ferrugem de pouco impacto sobre o rendimento da soja. No campo com temperaturas amenas e predominância de lesões do tipo RB. Apresentam uredósporos de forma elipsóide, densamente equinulados e de coloração hialina a castanho-amarelada</td>
                      
                  </tr>
                  <br>
                  <br>
                  
                  <tr>
                      <td><strong>Sintomas:</strong>  É caracterizado por pequenos pontos de coloração pardo-avermelhada, na superfície superior da folha. Em infecções severas, as lesões as folhas podem se aderir e formar grandes manchas castanhas, amarelar e depois cair.</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr> 
                    <td><strong>Controle:</strong> Com medidas de controle químico. Um grande número de variedades são resistentes à doença.</td>
                  </tr>
                  <br>
                  
                    
                  
              </thead>
                    
                    
                    
                    
                    
                 
                </div>
              </div>
              
          
   
  
  </body>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <body>
    <div class="content">
               
                  <a href="#paracadastro"></a>
                    
                <div id="cadastro">
                   
                    <h2>Mosaico Comum da Soja</h2> 
                    
                    <thead>
                  <tr>
                      <img  src="https://gitlab.com/nailuz/dev-fitopedia/raw/master/search/soja/virus/mosaicocomumsoja.jpg"  width="700" height="400">
                      <br><br><br><br>
                  </tr>
                  <tr>
                      <td><strong>Cultura:</strong>Soja</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Nome Patologia:</strong> Mosaico Comum da Soja</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Nome científico:</strong> Soybean mosaic virus (SMV)</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Tipo:</strong> virótica</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                    <td><strong>Temperatura:</strong> .

                      
                      
                      
                      </td>
                    </tr>
                    <br>
                    <br>
                  <tr>
                      <td><strong>Etiologia: </strong>o vírus se propaga por sementes e é transmitido através de picadas de pulgões a partir de plantas hospedeiras</td>
                      
                  </tr>
                  <br>
                  <br>
                  
                  <tr>
                      <td><strong>Sintomas:</strong> Produzem sementes manchadas, apresentam trifolíolos encarquilhados, deformados, com algumas bolhas, e com áreas verde-claras e verde-escuras distribuídas irregularmente sobre o limbo foliar. Podem apresentar lesões escuras nas vagens, porte reduzido, menor produção e atraso na maturação, sendo comum encontrar plantas verdes no meio de plantas amadurecidas</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr> 
                    <td><strong>Controle:</strong> Controle biológico ou químico dos pulgões. Entretanto, a maneira mais eficiente de se controlar a doença é através do uso de variedades resistentes a doença</td>
                  </tr>
                  <br>
                  
                    
                  
              </thead>
                    
                    
                    
                    
                    
                 
                </div>
              </div>
              
          
   
  
  </body>
  
  
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    
    
    
  <div id="footer">
    <p> © Copyright 2018 - Fitopédia </p>
  </div>