<footer class="page-footer font-small bg-dark text-white pt-4" style="min-height: 420px">
  <div class="container text-center text-md-left">
    <div class="row text-center text-md-left mt-3 pb-3 justify-content-between">
      <div class="col-md-3 col-lg-3 col-xl-3 mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Fitopédia</h6>
        <p>A plataforma sobre fitopatologia para todos os agricultores, pesquisadores e estudantes. Conheça, estude e aprenda mais sobre as principais doenças das culturas brasileiras.</p>
      </div>
      <div class="col-md-2 col-lg-2 col-xl-2 mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Links úteis</h6>
        <p>
          <a class="text-success" [routerLink]="['/culturas']" routerLinkActive="router-link-active" >Culturas</a>
        </p>
        <p>
          <a class="text-success" [routerLink]="['/registrar']" routerLinkActive="router-link-active" >Cadastre-se</a>
        </p>
      </div>
      <div class="col-md-4 col-lg-3 col-xl-3 mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contato</h6>
        <p>
          <i class="fa fa-home mr-3"></i> Fatec, Pompéia, SP.</p>
        <p>
          <i class="fa fa-envelope mr-3"></i> fitopedia@gmail.com</p>
      </div>
    </div>
    <hr>
    <div class="row d-flex align-items-center">
      <div class="col-md-7 col-lg-8">
        <p class="text-center text-md-left">© 2018 Copyright:
          <a [routerLink]="['/home']" class="text-success" routerLinkActive="router-link-active" >
            <strong> Fitopedia</strong>
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>