<title>Culturas</title>

<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><a href="#">Resultados</a></h1>
				<p> Buscas</p>
			</div>
		</div>
  </div>
  
  

  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <div id="footer">
    <p> © Copyright 2018 - Fitopédia </p>
  </div>
  

