<title>Culturas</title>

<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><a href="#">Milho</a></h1>
				<p> Patogenos</p>
			</div>
		</div>
  </div>
  <body>
    <table></table>
    <div class="content">
               
                  <a href="#paracadastro"></a>
                    
                  
               
          
                <div id="cadastro">
                   
                    <h2>Podridão Bacteriana Do Colmo</h2> 
                    
                    <thead>
                  <tr>
                      <img  src="https://gitlab.com/nailuz/dev-fitopedia/raw/master/search/milho/bacterias/Podrid%C3%A3o%20Bacteriana%20do%20Colmo.jpg"  width="700" height="400">
                      <br><br><br><br>
                  </tr>
                  <tr>
                      <td><strong>Cultura:</strong>Milho</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Nome Patologia:</strong> Podridão Bacteriana Do Colmo</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Nome científico:</strong> Erwinia chrysanthemi pv. zeae</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Tipo:</strong> bacteriana</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                    <td><strong>Temperatura:</strong> .</td>
                    </tr>
                    <br>
                    <br>
                  <tr>
                      <td><strong>Etiologia: </strong>Alta umidade do solo</td>
                      
                  </tr>
                  <br>
                  <br>
                  
                  <tr>
                      <td><strong>Sintomas:</strong>Súbito aparecimento de plantas tombadas. Seca prematura de plantas. Prodridão de colmo pode ocorrer em um ou em vários internódios acima da superfície do solo. Os sintomas nos internódios atacados são o encharcamento dos tecidos e a perda de firmeza ou rigidez dos tecidos do colmo, que provoca tombamento das plantas</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr> 
                    <td><strong>Controle:</strong>Uso de cultivares resistentes. O manejo adequado da irrigação, quantidade e qualidade da água utilizada, ajuda na redução das plantas afetadas</td>
                  </tr>
                  <br>
                  
                  
                    
                  
              </thead>
                    
                    
                    
                    
                    
                 
                </div>
              </div>
              
          
   
  
  </body>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    
    
  <body>
    <div class="content">
               
                  <a href="#paracadastro"></a>
                    
                  
               <div id="cadastro">
                   
                    <h2>Antracnose Foliar</h2> 
                    
                    <thead>
                  <tr>
                      <img  src="https://gitlab.com/nailuz/dev-fitopedia/raw/master/search/milho/fungos/Antracnose%20Foliar.jpg"  width="700" height="400">
                      <br><br><br><br>
                  </tr>
                  <tr>
                      <td><strong>Cultura:</strong>Milho</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Nome Patologia:</strong>Antracnose Foliar</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Nome científico:</strong>Glomerella graminicola</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Tipo:</strong>Fúngica</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Temperatura:</strong>28 a 30ºC.</td>
                      
                  </tr>
                  
                    <br>
                    <br>
                  <tr>
                      <td><strong>Etiologia: </strong>Elevada umidade relativa do ar e chuvas frequentes favorecem o desenvolvimento da doença.

                      </td>
                      
                  </tr>
                  <br>
                  <br>
                  
                  <tr>
                      <td><strong>Sintomas:</strong>  Lesões necróticas, pardacentas, arrendondadas ou ovaladas. Ataques intensos podem causar extensa queima foliar</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr> 
                    <td><strong>Controle:</strong> Uso de híbridos resistentes e rotação de culturas.



                    </td>
                  </tr>
                  <br>
                  
                    
                  
              </thead>
                    
                    
                    
                    
                    
                 
                </div>
              </div>
              
          
   
  
  </body>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <body>
    <div class="content">
               
                  <a href="#paracadastro"></a>
                    
                  <div id="cadastro">
                   
                    <h2>Ferrugem Comum</h2> 
                    
                    <thead>
                  <tr>
                      <img  src="https://gitlab.com/nailuz/dev-fitopedia/raw/master/search/milho/fungos/Ferrugem%20Comum.jpg"  width="700" height="400">
                      <br><br><br><br>
                  </tr>
                  <tr>
                      <td><strong>Cultura:</strong>Milho</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Nome Patologia:</strong> Ferrugem Comum</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Nome científico:</strong> Puccinia sorghi</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Tipo:</strong> fúngica</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                    <td><strong>Temperatura:</strong> 16 a 23 C</td>
                    </tr>
                    <br>
                    <br>
                  <tr>
                      <td><strong>Etiologia: </strong>Puccinia sorghi, seus uredóporos possuem formato esférico a elipsóide. Seus uredósporos possuem formato esférico a elipsóide, de coloração canela. Os uredósporos germinam através de poros germinativos equatoriais.</td>
                      
                  </tr>
                  <br>
                  <br>
                  
                  <tr>
                      <td><strong>Sintomas:</strong> Pústulas elípticas e alongadas, em ambas faces da folha, com produção de uredósporos de coloração marrom-canela. As pústulas tornam-se mais escuras com o passar do tempon consequencia do desenvolvimento de teliósporos. Nas folhas, é comum a ocorrência das pústulas em faixas transversais</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr> 
                    <td><strong>Controle:</strong> Uso de cultivares resistentes e o plantio em épocas desfavoráveis ao desenvolvimento da doença.</td>
                  </tr>
                  <br>
                  
                    
                  
              </thead>
                    
                    
                    
                    
                    
                 
                </div>
              </div>
              
          
   
  
  </body>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <body>
    <div class="content">
               
                  <a href="#paracadastro"></a>
                   
                  <div id="cadastro">
                   
                    <h2>Ferrugem Polysora</h2> 
                    
                    <thead>
                  <tr>
                      <img  src="https://gitlab.com/nailuz/dev-fitopedia/raw/master/search/milho/fungos/Ferrugem%20Polysora.jpg"  width="700" height="400">
                      <br><br><br><br>
                  </tr>
                  <tr>
                      <td><strong>Cultura:</strong>Milho</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Nome Patologia:</strong> Ferrugem Polysora</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Nome científico:</strong> Puccinia polysora</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Tipo:</strong> fúngica</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                    <td><strong>Temperatura:</strong>25ºC a 35ºC</td>
                    </tr>
                    <br>
                    <br>
                  <tr>
                      <td><strong>Etiologia: </strong>Ocorrência de períodos prolongados de elevada umidade relativa do ar</td>
                      
                  </tr>
                  <br>
                  <br>
                  
                  <tr>
                      <td><strong>Sintomas:</strong> As pústulas podem ocorrer na face superior do limbo e da bainha foliar, nas brácteas das espigas e, em condições de alta severidade no pendão</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr> 
                    <td><strong>Controle:</strong> Uso de cultivares resistentes, escolha correta de época e local de plantio e, eventualmente, com aplicação de fungicidas. Outro método de controle é o uso de híbridos ou variedades resistentes</td>
                  </tr>
                  <br>
                  
                    
                  
              </thead>
                    
                    
                    
                    
                    
                 
                </div>
              </div>
              
          
   
  
  </body>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <body>
    <div class="content">
               
                  <a href="#paracadastro"></a>
                    
                <div id="cadastro">
                   
                    <h2>Ferrugem Tropical</h2> 
                    
                    <thead>
                  <tr>
                      <img  src="https://gitlab.com/nailuz/dev-fitopedia/raw/master/search/milho/fungos/Ferrugem%20tropical.jpg"  width="700" height="400">
                      <br><br><br><br>
                  </tr>
                  <tr>
                      <td><strong>Cultura:</strong>Milho</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Nome Patologia:</strong> Ferrugem Tropical</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Nome científico:</strong> Physopella zeae</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Tipo:</strong> Fúngica</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                    <td><strong>Temperatura:</strong> 22 a 30ºC</td>
                    </tr>
                    <br>
                    <br>
                  <tr>
                      <td><strong>Etiologia: </strong>A disseminação dos uredósporos dá-se, principalmente, pelo vento</td>
                      
                  </tr>
                  <br>
                  <br>
                  
                  <tr>
                      <td><strong>Sintomas:</strong> Os sintomas da ferrugem tropical ocorrem em ambas as faces da folha, na forma de pústulas, de formato arredondado e recobertas pela epiderme da folha, dispostas em pequenos grupos, paralelos às nervuras</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr> 
                    <td><strong>Controle:</strong> O uso de híbridos de milho resistentes à doença é o método de controle mais eficiente e que não acarreta nenhum custo adicional ao produtor. O uso de fungicida em aplicação foliar, após o aparecimento das primeiras pústulas, pode ser uma prática eficiente em materiais de alto valor econômico ou estratégico, como em campos de produção de sementes</td>
                  </tr>
                  <br>
                  
                    
                  
              </thead>
                    
                    
                    
                    
                    
                 
                </div>
              </div>
              
          
   
  
  </body>
  
  
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    
    
    
  <div id="footer">
    <p> © Copyright 2018 - Fitopédia </p>
  </div>
