<title>Culturas</title>

<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><a href="#">SOJA</a></h1>
				<p> </p>
			</div>
		</div>
  </div>
  
  

    <div class="bk"><h1>SOJA</h1>

    <img  src="https://images1.minhavida.com.br/imagensconteudo/16957/soja%20%20-%20tudo%20sobre.jpg"  width="450"></div>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    
  <div id="footer">
    <p> © Copyright 2018 - Fitopédia </p>
  </div>
  
