<title>Culturas</title>

<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><a href="#">Cana-de-açucar</a></h1>
				<p> Patogenos</p>
			</div>
		</div>
  </div>
  <body>
    <table></table>
    <div class="content">
               
                  <a href="#paracadastro"></a>
                    
                  
               
          
                <div id="cadastro">
                   
                    <h2>Escaldadura das Folhas</h2> 
                    
                    <thead>
                  <tr>
                      <img  src="http://www.canaonline.com.br/imagens/uploads/conteudos/20150729085515lE15AvFOW8.jpg"  width="700" height="400">
                      <br><br><br><br>
                  </tr>
                  <tr>
                      <td><strong>Cultura:</strong>Cana-de-Açúcar</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Nome Patologia:</strong> Escaldadura das Folhas</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Nome científico:</strong> Xanthomonas albilineans</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Tipo:</strong> bacteriana</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                    <td><strong>Temperatura:</strong> 25 a 28ºC</td>
                    </tr>
                    <br>
                    <br>
                  <tr>
                      <td><strong>Etiologia: </strong>A temperatura ótima para seu crescimento varia de 25 a 28ºC, a bacteria propaga-se por mudas infectadas, facões de corte, colhedeiras, roedores e pela gutação</td>
                      
                  </tr>
                  <br>
                  <br>
                  
                  <tr>
                      <td><strong>Sintomas:</strong>Apresenta 3 tipos de sintomas: latente, crônico e agudo. 1º Sintoma latente é que prevalece na maioria das variedades comerciais, que apresentam tolerância e podem ficar anos sem manifestar um sintoma externo, ocasionalmente, no interior de colmos maduros a descoloração vascular na região nodal. 2º Sintoma crônico estrias brancas estendem-se por extensas áreas do limbo foliar podendo atingir a bainha. As estrias podem evoluir para diversos graus de clorose foliar, de bordos indefinidos até a necrose, havendo, frequentimente, brotação das gemas basais do colmo. 3º Sintoma agudo ocorre em variedades suscetíveis, intolerantes ou com resistência intermediária, neste caso há queima das folhas como se a planta tivesse sido escaldada, em algumas vezes, sem manisfetar sintomas de brotação lateral do colmo</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr> 
                    <td><strong>Controle:</strong>Uso e variedades resistentes e tolerantes ao patógeno, lugares que forem cultivares variedades suscetíveis, recomenda a aplicação de medidas de controle: tratamento térmico de toletes para limpeza do material de propagação</td>
                  </tr>
                  <br>
                  
                  
                    
                  
              </thead>
                    
                    
                    
                    
                    
                 
                </div>
              </div>
              
          
   
  
  </body>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    
    
  <body>
    <div class="content">
               
                  <a href="#paracadastro"></a>
                    
                  
               <div id="cadastro">
                   
                    <h2>Estria vermelha</h2> 
                    
                    <thead>
                  <tr>
                      <img  src="https://gitlab.com/nailuz/dev-fitopedia/raw/master/search/Cana-de-a%C3%A7%C3%BAcar/bacterias/Estria%20vermelha.png"  width="700" height="400">
                      <br><br><br><br>
                  </tr>
                  <tr>
                      <td><strong>Cultura:</strong>Cana-de-Açúcar</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Nome Patologia:</strong>Estria vermelha</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Nome científico:</strong>Acidovorax avenae subsp. avenae</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Tipo:</strong>Bacteriana</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Temperatura:</strong>acima de 28ºC.</td>
                      
                  </tr>
                  
                    <br>
                    <br>
                  <tr>
                      <td><strong>Etiologia: </strong>Disseminação por respingos de chuva e vento, e a infecção favorecida por pquenos ferimentos produzidos pelo atrito entre as folhas.

                      </td>
                      
                  </tr>
                  <br>
                  <br>
                  
                  <tr>
                      <td><strong>Sintomas:</strong>  Podem ocorrer 2 sintomas conjuntamente ou isolados: como surgimento de estrias finas e longas de 5 a 60 cm de comprimento ou surgimento de podridão do topo da planta. Nas folhas, oo primeiros sintomas são estrias enchar-cadas que gradualmente tomam a coloração vermelha. Nas lesões novas é comum notar-se exsudação da bactéria</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr> 
                    <td><strong>Controle:</strong> Uso de variantes resistentes.



                    </td>
                  </tr>
                  <br>
                  
                    
                  
              </thead>
                    
                    
                    
                    
                    
                 
                </div>
              </div>
              
          
   
  
  </body>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <body>
    <div class="content">
               
                  <a href="#paracadastro"></a>
                    
                  <div id="cadastro">
                   
                    <h2>Ferrugem </h2> 
                    
                    <thead>
                  <tr>
                      <img  src="https://gitlab.com/nailuz/dev-fitopedia/raw/master/search/Cana-de-a%C3%A7%C3%BAcar/fungos/Ferrugem.jpg"  width="700" height="400">
                      <br><br><br><br>
                  </tr>
                  <tr>
                      <td><strong>Cultura:</strong>Cana-de-Açúcar</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Nome Patologia:</strong> Ferrugem </td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Nome científico:</strong> Puccinia melanocephala</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Tipo:</strong> fúngica</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                    <td><strong>Temperatura:</strong> 20 e 25ºC</td>
                    </tr>
                    <br>
                    <br>
                  <tr>
                      <td><strong>Etiologia: </strong>A germinação dos uredósporos é favorecida oela presença de água na superficie da folha e temperaturas moderadas</td>
                      
                  </tr>
                  <br>
                  <br>
                  
                  <tr>
                      <td><strong>Sintomas:</strong> A coloração de pústulas na página inferior das folhas variam de amareladas a marrom-escuro, e medem de 2 a 7 mm de comprimento por 1 mm de largura e mostram a formação de esporos suberpidérmicos com ruptura da epideerme para sua liberação</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr> 
                    <td><strong>Controle:</strong>Uso de variaveis resistentes. Ou cultivo de variedades com resistência intermediária, ou suscetível, em regiões de escape onde o ambiente é desfavoravel ao patógeno</td>
                  </tr>
                  <br>
                  
                    
                  
              </thead>
                    
                    
                    
                    
                    
                 
                </div>
              </div>
              
          
   
  
  </body>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <body>
    <div class="content">
               
                  <a href="#paracadastro"></a>
                   
                  <div id="cadastro">
                   
                    <h2>Podridão Abacaxi</h2> 
                    
                    <thead>
                  <tr>
                      <img  src="https://gitlab.com/nailuz/dev-fitopedia/raw/master/search/Cana-de-a%C3%A7%C3%BAcar/fungos/Podrid%C3%A3o%20Abacaxi.png"  width="700" height="400">
                      <br><br><br><br>
                  </tr>
                  <tr>
                      <td><strong>Cultura:</strong>Cana-de-Açúcar</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Nome Patologia:</strong> Podridão Abacaxi</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Nome científico:</strong> Ceratocystis paradoxa (Thielaviopsis paradoxa)</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Tipo:</strong> fúngica</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                    <td><strong>Temperatura:</strong>.</td>
                    </tr>
                    <br>
                    <br>
                  <tr>
                      <td><strong>Etiologia: </strong>Produz  dois tipos de esporos: microconídios e macroconídios. OS primeiros são produzidos endogenamente nos conidióforos são hialinos, pequenos, eretos e eliminados na forma de bastonetes em cadeia</td>
                      
                  </tr>
                  <br>
                  <br>
                  
                  <tr>
                      <td><strong>Sintomas:</strong> O fungo penetra na planta por cortes ou ferimentos. À medida que a podridão avança, a coloração ods tecidos vai se alterando, passando para cinza, parda-escura e finalmente negra</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr> 
                    <td><strong>Controle:</strong> qualquer  medida que estimule a brotação rápida dos toletes ou proteja as feridas por onde o fungo penetra, produz excelentes resultados no controle da doença</td>
                  </tr>
                  <br>
                  
                    
                  
              </thead>
                    
                    
                    
                    
                    
                 
                </div>
              </div>
              
          
   
  
  </body>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <body>
    <div class="content">
               
                  <a href="#paracadastro"></a>
                    
                <div id="cadastro">
                   
                    <h2>Podridão Vermelha</h2> 
                    
                    <thead>
                  <tr>
                      <img  src="http://s2.glbimg.com/njH6PJV0hhKGGxOwBc0GN_O5MDc=/1200x630/filters:max_age(3600)/s02.video.glbimg.com/deo/vi/77/24/2022477"  width="700" height="400">
                      <br><br><br><br>
                  </tr>
                  <tr>
                      <td><strong>Cultura:</strong>Cana-de-Açúcar</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Nome Patologia:</strong> Podridão Vermelha</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Nome científico:</strong> Glomerella tucumanensis (Colletotrichum falcatum)</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                      <td><strong>Tipo:</strong> Fúngica</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr>
                    <td><strong>Temperatura:</strong> .</td>
                    </tr>
                    <br>
                    <br>
                  <tr>
                      <td><strong>Etiologia: </strong>O agente causal é Colletotrichum falcatum que corresponde, na fase perfeita, a Glomerella tucumanensis. Produz acérvulos sub-epidérmicos eruptivos com setas retas ou tortuosas, pardo-escuras, septadas, abundantes e facilmente visíveis com lupa manual</td>
                      
                  </tr>
                  <br>
                  <br>
                  
                  <tr>
                      <td><strong>Sintomas:</strong> Durante a germinação do tolete, causa a morte das gemas e redução na germinação. Nos colmos, o patógeno ausa, internamente, uma podridão vermelha. Na nervedura central das folhas aparecem lesões vermelhas que mais tarde ficam com o centro mais claro</td>
                      
                  </tr>
                  <br>
                  <br>
                  <tr> 
                    <td><strong>Controle:</strong> Uso de variedades resistentes</td>
                  </tr>
                  <br>
                  
                    
                  
              </thead>
                    
                    
                    
                    
                    
                 
                </div>
              </div>
              
          
   
  
  </body>
  
  
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    
    
    
  <div id="footer">
    <p> © Copyright 2018 - Fitopédia </p>
  </div>

