.Milho{background-color:#FFFFFF;
    margin: -320px 100px 0px 150px;
    
    border-radius: 10px;}
  
  .Trigo{background-color:#FFFFFF;
    margin: 120px 100px 0px 150px;
    border-radius: 10px;
       
  }
  .bk{background-color:#ffffff;
    margin: 160px 100px 0px 750px;
    border-radius: 10px;
    
    
  }
  .Cafe{background-color:#ffffff;
      margin: -330px 100px 0px 750px;
      border-radius: 10px;}