<title>Culturas</title>

<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><a href="#">Culturas</a></h1>
				<p> Brasileiras</p>
			</div>
		</div>
  </div>
  
  

    <div class="bk"><a routerLink="/heroes"><h1>SOJA</h1></a>

    <img  src="https://images1.minhavida.com.br/imagensconteudo/16957/soja%20%20-%20tudo%20sobre.jpg"  width="450"></div>

    <div class="Milho"><a routerLink="/milho"><h1>MILHO</h1></a>

    <img  src="https://http2.mlstatic.com/sementes-de-milho-verde-hibrido-biomatrix-3066-5-kilos-D_NQ_NP_633801-MLB20406521513_092015-F.jpg"  width="350"></div>

    <div class="Trigo"><h1>CANA</h1>

    <img  src="https://st.depositphotos.com/3677273/5175/i/950/depositphotos_51755865-stock-photo-sugar-cane-isolated-on-white.jpg"  width="400"></div>

    <div class="Cafe"><a routerLink="/heroes"><h1>CAFE</h1></a><br>

    <img  src="https://st2.depositphotos.com/4798895/7588/i/950/depositphotos_75882503-stock-photo-coffee-beans-on-a-white.jpg"  width="400"></div>
   
    <br><br><br><br><br><br><br><br><br><br><br>
  <div id="footer">
    <p> © Copyright 2018 - Fitopédia </p>
  </div>
  
